<div class="content">
    <div class="create">
        <div class="income-title">Создание категории доходов</div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="Название..." aria-label="Name category..."
                aria-describedby="addon-wrapping">
        </div>
        <div class="actions">
            <button class="btn btn-success">Создать</button>
            <button class="btn btn-danger">Отмена</button>
        </div>
    </div>
</div>