<div class="content">
    <div class="edit">
        <div class="income-title">Редактирование категории доходов</div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="Зарплата" aria-label="Salary"
                aria-describedby="addon-wrapping">
        </div>


        <div class="actions">
            <button class="btn btn-success">Сохранить</button>
            <button class="btn btn-danger">Отмена</button>
        </div>
    </div>
</div>
</div>