<div class="content">
    <div class="edit-operations">
        <div class="income-title">Редактирование дохода/расхода</div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="Доход" aria-label="Income"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="Зарплата" aria-label="Salary"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="500$" aria-label="Amount $"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="11.09.2022" aria-label="Date"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="Комментарий..." aria-label="Comment"
                aria-describedby="addon-wrapping">
        </div>
        <div class="actions">
            <button class="btn btn-success">Создать</button>
            <button class="btn btn-danger">Отмена</button>
        </div>
    </div>
</div>