<div class="content">
    <div class="edit">
        <div class="income-title" id="category-title">Редактирование категории</div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="category-name" placeholder="Название категории" 
                   aria-label="Название категории" required>
            <div class="invalid-feedback d-none" id="category-error">
                Название категории не может быть пустым
            </div>
        </div>
        <div class="actions">
            <button class="btn btn-success" id="save-btn">Сохранить</button>
            <button class="btn btn-danger" id="cancel-btn">Отмена</button>
        </div>
    </div>
</div>