<div class="content">
    <div class="expenses">
        <div class="income-title">Расходы</div>
        <div class="menu">
            <div class="bookmarks">
                <div class="bookmark">
                    <div class="bookmark-title">Еда</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Жилье</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>

                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Здоровье</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Кафе</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Авто</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Одежда</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Развлечения</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Счета</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Спорт</div>
                    <div class="actions">
                        <button class="btn btn-primary">Редактировать</button>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <a href="/create-expense-cat">
                    <div class="bookmark add">
                        <div>+</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="popup-container">
            <div class="popup">
                <div class="popup-content">
                    <div class="message">
                        Вы действительно хотите удалить категорию?
                    </div>
                    <div class="actions">
                        <button class="btn btn-success">Да, удалить</button>
                        <button class="btn btn-danger">Не удалять</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>