<div class="content">
    <div class="income">
        <div class="income-title">Доходы</div>
        <div class="menu">
            <div class="bookmarks">
                <div class="bookmark">
                    <div class="bookmark-title">Депозиты</div>
                    <div class="actions">
                        <a href="/edit-income-cat" class="btn btn-primary">Редактировать</a>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Зарплата</div>
                    <div class="actions">
                        <a href="/edit-income-cat" class="btn btn-primary">Редактировать</a>
                        <button class="btn btn-danger">Удалить</button>
                    </div>

                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Сбережения</div>
                    <div class="actions">
                        <a href="/edit-income-cat" class="btn btn-primary">Редактировать</a>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <div class="bookmark">
                    <div class="bookmark-title">Инвестиции</div>
                    <div class="actions">
                        <a href="/edit-income-cat" class="btn btn-primary">Редактировать</a>
                        <button class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <a href="/create-income-cat"><div class="bookmark add">
                    <div>+</div>
                </div></a>
            </div>
        </div>

        <div class="popup-container">
            <div class="popup">
                <div class="popup-content">
                    <div class="message">
                        Вы действительно хотите удалить категорию? Связанные доходы останутся без категории.
                    </div>
                    <div class="actions">
                        <button class="btn btn-success">Да, удалить</button>
                        <button class="btn btn-danger">Не удалять</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>