<div class="content">
    <div class="operations">
        <div class="income-title">Доходы и расходы</div>
        <div class="actions">
            <button class="btn btn-success" id="create-income-btn">Создать доход</button>
            <button class="btn btn-danger" id="create-expense-btn">Создать расход</button>
        </div>
        <div class="operations-menu">
            <button class="btn btn-outline-secondary me-2">Сегодня</button>
            <button class="btn btn-outline-secondary me-2">Неделя</button>
            <button class="btn btn-outline-secondary me-2">Месяц</button>
            <button class="btn btn-outline-secondary me-2">Год</button>
            <button class="btn btn-outline-secondary me-2">Все</button>
            <button class="btn btn-outline-secondary me-2">Интервал</button>
            <div class="date" style="display:none;">
                <!-- с
                <button class="btn btn-light">Дата</button>
                по
                <button class="btn btn-light">Дата</button> -->
            </div>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="names" scope="col">№ операции</th>
                    <th class="names" scope="col">Тип</th>
                    <th class="names" scope="col">Категория</th>
                    <th class="names" scope="col">Сумма</th>
                    <th class="names" scope="col">Дата</th>
                    <th class="names" scope="col">Комментарий</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="popup-container" id="deleteOperationPopup" style="display: none;">
        <div class="popup">
            <div class="popup-content">
                <div class="message">
                    Вы действительно хотите удалить операцию?
                </div>
                <div class="actions">
                    <button class="btn btn-success" id="confirmDeleteOperation">Да, удалить</button>
                    <button class="btn btn-danger" id="cancelDeleteOperation">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>